#maincard
{
    padding: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: monospace;
    background-color: rgb(255, 255, 255);
}
.btn:hover
{
    background-color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
}
#btn1
{
  width: fit-content;
  background-color:rgb(0, 47, 255);
  color: rgb(255, 255, 255);
  font-size: 20px;
}
#btn2
{
  background-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  width: fit-content;
  border-width: 0px;
}
#cent
{
  display: flex;
  justify-content: center;
  align-self: center;
}